[2016-11-13 10:46] jtara1 opened #1 "Need to delete and merge some classes"
There's classes that need to be merged, deleted, or have their class name refactored such as ActiveAgent, Character, Bullet, AdditionalBullet.

Protip for Eclipse IDE: highlight text then press `alt shift r` to refactor (rename) a file or variable.

[2016-11-13 18:35] jtara1 commented on #1
Ok I took care of this.

[2016-11-13 18:35] #1 closed, assigned to nobody

[2016-11-13 18:37] jtara1 opened #2 "MOVE_STATUS enumerator values"
Can't remember what they were. It needs to be updated.

I've only included the 2 that I remember `illegalMove, legalMove;`

I'm pretty sure Jason wrote this down or knows so I'll assign him to this issue.

[2016-11-13 19:20] jtara1 opened #3 "What's the best way to place all GameObject in the reset() method of GameEngine"
In my personal / private implementation I kept an `ArrayList<ArrayList<Integer>>` containing empty tiles on the grid then got a random coordinate from this list & removed it everytime I created a new `GameObject` for the `Grid`.

Right now we continually select a random column & row index then check if it's occupied and keep doing this until we find a spot of the Grid whose value == null

This cou

[2016-11-13 22:10] jtara1 commented on #2
Thanks.

Closed with commit https://github.com/Jester565/SpyNinjaGame/commit/5de911ec2ef9119cbad72b30134034f0d2cb1fb3

[2016-11-13 22:10] #2 closed, assigned to kjasonk

[2016-11-14 23:10] Jester565 commented on #3
This was an issue addressed by the professor when presenting the final project example.  He acknowledged the issues existence but didn't seem to care about it too much.  I doubt we need that level of error checking but later on we can implement this check.  If it takes more than 400 tries to insert an element, we can iterate over the Grid to make sure that there are null elements.  If there aren't

[2016-11-15 04:54] jtara1 opened #4 "Entering a String such as "start" during UserInterface#mainMenu() method results in exception thrown"
Solution:

Loop until `keyboard.hasNextInt()` then return that integer.

Solved with commit b8df29ccd94bc023cf8a706de0003bcdcd96a33c

[2016-11-15 04:55] #4 closed, assigned to nobody

[2016-11-15 07:52] jtara1 opened #5 "Can the spy see the tile on the other side of the door?"
Should the scenario in this image be allowed?

![screenshot_20161114_235003](https://cloud.githubusercontent.com/assets/7478231/20297407/3f20005c-aac5-11e6-9548-88ae40610376.png)

This issue is a very low priority issue right now.

[2016-11-15 08:08] Jester565 commented on #5
I don't know...  We will have to ask the professor tomorrow

On Mon, Nov 14, 2016 at 11:52 PM James T notifications@github.com wrote:

[2016-11-15 08:19] jtara1 opened #6 "Scanner method nextInt() leaves behind newline character that the next call to nextLine() picks up"
This was causing this "Invalid ... " statement to be printed when nothing had been typed yet.

![screenshot_20161115_001514](https://cloud.githubusercontent.com/assets/7478231/20298149/18ee8300-aac9-11e6-89e0-22d9b39d4d53.png)

[2016-11-15 08:21] Jester565 commented on #6
Just add another nextLine() after the main menu.

On Tue, Nov 15, 2016 at 12:19 AM James T notifications@github.com wrote:

[2016-11-15 08:25] Jester565 commented on #6
Fixed issue in last commit.

[2016-11-15 08:25] #6 closed, assigned to nobody

[2016-11-15 08:26] jtara1 commented on #6
oh, was going to fix, should've assigned to myself

edit: going to sleep

edit2: fixed with commit ec5a9dba7df8124178be266e61d1d99fa1af199b

[2016-11-15 08:27] Jester565 commented on #6
That's alright... Teamwork!

[2016-11-15 19:31] Jester565 commented on #6
Commit fixed in: ec5a9dba7df8124178be266e61d1d99fa1af199b

[2016-11-15 19:42] jtara1 commented on #5
Fix with commit aa5643ec779e432e710b04a160d5528e745f5089

[2016-11-15 19:42] #5 closed, assigned to nobody

[2016-11-16 18:21] jtara1 opened #9 "There's two copies of the game in this repository"
@walkerzheng I think you added other files in commit 37a324d930bacd203e684873c07396147eb28905. I don't think you made any commits for the new copies there.

Could you git remove it?

I'm pretty sure you said you were using git via terminal so

Change directory to the local project files of this repository then do
[code]

edit: closing with commit 706a96215a7aba4e0839d95414535312262ff56d

[2016-11-16 18:23] Jester565 commented on #9
Yeah that game should be in a separate repository.

On Wed, Nov 16, 2016 at 10:21 AM James T notifications@github.com wrote:

[2016-11-16 18:55] Jester565 opened #10 "GAME_STATE enum needs to be public. The UserInterface can't do anything with it right now because it can't see it."

[2016-11-16 19:10] jtara1 commented on #10
I'm working on updating the `UserInterface` class I've been working on. I got a solution to what we were talking about yesterday with handling a `USER_COMMAND` or `DIRECTION` (for player move).

The code runs right now on the latest commit, but it has some bugs, I'll fix shortly.

[2016-11-16 19:12] Jester565 commented on #10
Ok, this is a GameEngine problem so this is technically Francisco's issue
to fix. But because its necessary that this works for you right now, go
ahead and fix it.

On Wed, Nov 16, 2016 at 11:10 AM James T notifications@github.com wrote:

[2016-11-16 19:38] jtara1 opened #11 "playerShoot(DIRECTION) method in GameEngine needs improvement"
I haven't looked at the method lately, but it seems it prints out a negative coord in the debug prints, and returns true even though there was nothing for the bullet to hit. See photos:

Just shot:
![screenshot_20161116_113329](https://cloud.githubusercontent.com/assets/7478231/20362573/f6e9a446-abf0-11e6-9f67-bcbad1c43c3e.png)

then entered debug mode:
![screenshot_20161116_113401](https://cloud.

[2016-11-16 19:40] Jester565 commented on #11
I agree.  Jessica is working on this, but I am going to put up a separate
branch with my own implementation in shooting.  If anyone needs any help
with shooting refer to it.  Should be up in about 2 hours.

On Wed, Nov 16, 2016 at 11:38 AM James T notifications@github.com wrote:

[2016-11-16 19:50] jtara1 opened #12 "The briefcase needs to be shown when we entered debug mode"
In the photo I enter debug mode, but all the rooms still get printed as the letter `R`

Yesterday I added a method to `Room` called `revealBriefCase()`. This'll change the `gridRepresentation` from `R` to `b` if `hasBriefcase` is true. We can use this to help us reveal the briefCase.

![screenshot_20161116_114502](https://cloud.githubusercontent.com/assets/7478231/20362969/47ea9d18-abf2-11e6-8fa7-

[2016-11-16 19:55] Jester565 commented on #12
I think this is best handled in the Room.  Perhaps you could override
GameObject's getGridRepresentation method in the Room class so that if
GameEngine.DebugMode is true and Room hasBriefCase(), it will return a b
instead of R.

On Wed, Nov 16, 2016 at 11:50 AM James T notifications@github.com wrote:

[2016-11-16 20:07] jtara1 commented on #12
That works nicely. Now we shouldn't need an external reference to any Room in GameEngine unless there was another reason.
Closing with commit 70ab59457f56e81b00e3199235d773b98ecf6e94

[2016-11-16 20:10] Jester565 commented on #12
We will actually need an external reference to the briefcase room so the
radar power up can call that reveal briefcase method.  Jason should handle
this.

On Wed, Nov 16, 2016, 12:07 PM James T notifications@github.com wrote:

[2016-11-16 20:14] #12 closed, assigned to jtara1, frfabianrp

[2016-11-16 20:15] Jester565 commented on #12
Sorry thought it was showing it in non debug mode but it's good.

[2016-11-16 20:18] Jester565 commented on #12
Put the reveal briefcase method back in and make sure it is working.  We
need it for the radar.

On Wed, Nov 16, 2016, 12:09 PM Alex Craig ajcraig543@gmail.com wrote:

[2016-11-16 20:41] jtara1 commented on #12
Done with commit 7e7832c2e8cff4c43f368e67d56ad8cf5ea50623

[2016-11-16 21:45] Jester565 commented on #11
Here is a link to a commit where I have fully functional shooting.  Use
this as an example DO NOT MERGE DevAhead branch with master.

On Wed, Nov 16, 2016 at 11:39 AM Alex Craig ajcraig543@gmail.com wrote:

[2016-11-16 22:18] Jester565 opened #13 "How do we handle maximum ammo and the Bullet power up."
The maximum and initial amount of ammo in the Gun is 1.  The professor states this about the Bullet power up: _If the player hasn't used his initial bullet, the power-up will have no effect._

So the Spy picks up the Bullet power up and still has his initial round.  Which behavior do we want?
1. The Bullet power up is consumed (set to null) and has no effect on the Spy's ammo.
2. The Bullet power

[2016-11-16 23:26] jtara1 commented on #13
I think option 2 makes more sense.

Does option 1 mean the Spy would throw the bullet off the grid just because he doesn't need it at the moment? /s

I guess it's important to make sure you follow the rules the professor provided precisely though. Maybe we should ask him about this?

[2016-11-16 23:36] Jester565 commented on #13
In option 1 the power up would be set to null (so yeah its removed from the
grid).  Option 2 the power up won't be used and removed until it is needed.

On Wed, Nov 16, 2016 at 3:26 PM James T notifications@github.com wrote:

[2016-11-17 00:29] Jester565 commented on #13
I say option 2 makes the most sense too and have implemented it in the DevAhead branch.  However, I'm not going to close this until it is implemented in the master branch.

[2016-11-17 00:38] Jester565 opened #14 "After getting killed by a Ninja, should we show where he was?"
In DevAhead, if you get killed by a Ninja right now it just prints out a message saying you lost.  This can suck because if you got killed by a Ninja you kind of want to know where he got you from.  Therefore, I think printing out a Grid showing the killer Ninja after dying would be a good idea.  Do you agree or is this a bad idea?

[2016-11-17 01:02] Jester565 opened #15 "When do Ninjas try to kill?"
The professor states "Ninjas will start every turn by checking if the spy is at an adjacent square. If the player is at an adjacent square, the ninja will 'mortally stab' him, killing the spy. Otherwise, the ninja will move one square in a random direction."

This makes me think that the steps are (Option A)
1. Check if the Spy is in range and kill him if he is
2. Move the Ninjas

Rather than the

[2016-11-17 02:53] jtara1 commented on #15
I interpret the professor's instructors as describing option A you have here.

[2016-11-17 02:56] jtara1 commented on #14
I think it would be a really good idea to do this because it's very likely a ninja kills spy from the darkness.

Maybe when spy dies we enable debug mode, print the board, then print the message "You died to a ninja (check the board for the final state of the game)"

[2016-11-17 04:52] Jester565 opened #16 "Should Grid.canSetNinja allow the Ninja to spawn on top of powerups?"
Currently a Ninja can only spawn on null elements.  This means that there is no possibility for the Ninja to spawn on a powerup.  Should we change this or is it too minor of a concern?

[2016-11-17 05:11] Jester565 opened #17 "When a Spy makes an Illegal move, do they get another chance to move?"
If a Spy walked onto the wrong side of a room or tried to walk out of bounds does he get another chance?

[2016-11-17 05:35] Jester565 commented on #15
Yeah let's go with option A.  You can see that implemented in this commit: 8fe8ab20becf0d4eef1e7343ffb1fa2a40f431aa .  However, I'm going to assign Francisco to implement this into the master branch.

[2016-11-17 05:36] jrcastron commented on #11
ya i think i had it say when it hits the edge of the board or a room

[2016-11-17 05:58] Jester565 commented on #11
Here are some possible issues with the current shooting mechanism
1. There is a new instance of Grid in Gun.
2. There is a new instance of Gun in GameEngine (get rid of this) and using it in your GameEngine.playerShoot call.  Maybe you should be calling spy.shoot(...) instead.
3. Weapon.attack() is unused in Gun (you're going to have to take another look at Weapon)
4. Ammo is not being reduced whe

[2016-11-17 06:08] jtara1 commented on #16
Either way is probably fine.

[2016-11-17 08:00] jrcastron commented on #11
thats super helpfull thx :3

[2016-11-17 15:47] jtara1 commented on #11
There's some smaller changes that are needed in the `Gun` class.
- `numRounds` is never initialized to any value so assign that variable a value in the constructor
- there's two fields in `Gun` that need visibility modifiers

[2016-11-17 15:54] jtara1 commented on #10
@frfabianrp Also, the variable `gameStatus` should probably be assigned to the value `GAME_STATE.UNFINISHED` in the `reset()` method of `GameEngine` in case we implement a next level feature later on.

[2016-11-17 16:26] frfabianrp commented on #10
Ok, just committed changed

[2016-11-17 16:26] #10 closed, assigned to frfabianrp

[2016-11-17 16:26] frfabianrp commented on #10
Changes*

[2016-11-17 23:33] Jester565 commented on #17
The professor answered that the player should get another chance.  I then asked him, "If a player steps onto a Ninja, would that kill the player or would the player get another chance to move?"
Professor: "The player would get another chance to move"

If anyone is confused on that last part, tell me.  He was confused with what I was talking about too.

[2016-11-17 23:36] Jester565 commented on #17
Oh yeah.  Fixing this is mostly a UserInterface issue.  However, we are going to have to make another MOVE_RESULT for checking a room with an empty briefcase in it.  Right now, we just say MOVE_RESULT.ILLEGAL when there is no briefcase but that would give the player another chance to move.  So maybe something like MOVE_RESULT.UNMOVED would indicate that the player should not be moved, but the turn

[2016-11-17 23:43] jtara1 commented on #17
Sounds good. I'll make these changes later this evening when I get a chance.

[2016-11-17 23:50] enochhz commented on #9
Yeah, I am deleting it

[2016-11-18 00:32] Jester565 commented on #17
I fixed this in the DevAhead branch in this commit perhaps you'll find it useful: 9dc2bccbb8420d166e521e7a7d8d034b5964e056

[2016-11-18 02:29] #9 closed, assigned to enochhz

[2016-11-18 03:34] jtara1 commented on #17
@Jester565 can you explain why it was decided `MoveStatus` would be a class instead of an enum. I see it contains an enum, `MOVE_RESULT`, but why create it like this?

edit: ok got it, was a bit confused by some syntax, I can work with this without having to refactor anything

[2016-11-18 03:48] Jester565 commented on #17
Sure.  There are two fields in MoveStatus, moveResult and msg.  The msg provides a unique description of the step and the only purpose of it is to be printed out by the UserInterface.  The moveResult is more for the program and helps process the move.  You could return a MOVE_RESULT but the user wouldn't get those unique messages.  If you don't think we need those messages then switch out MoveStat

[2016-11-18 05:04] #17 closed, assigned to jtara1

[2016-11-18 05:09] Jester565 commented on #17
So many things just happened lol

On Thu, Nov 17, 2016 at 9:04 PM James T notifications@github.com wrote:

[2016-11-18 05:12] jtara1 commented on #17
Don't worry, I've only begun to spam the inboxes of you 3 who are "watching" this repository lmao. The other 2 have already opted to **unwatch** to avoid the spam though it is still good to follow the team's progress on this project.

If anyone wants to do that that'd be ok since you'll still get email if someone "@ mentions you" (@jtara1) or if someone assigns you to an issue I believe.

[2016-11-18 05:15] Jester565 commented on #17
I like the spam

On Thu, Nov 17, 2016 at 9:12 PM James T notifications@github.com wrote:

[2016-11-18 05:57] jtara1 opened #19 "Spy can get trapped between Ninjas, grid boundaries, or Rooms"
I think Alex mentioned this in (library) meeting number 2.

Right now the UI will recursively ask and attempt to move the Spy when the Spy's MoveStatus from attempting to move is ILLEGAL which can happen when attempting to move on the following:

* out of bounds
* any side of the room except the top
* ninja

so it's possible (probably very unlikely) the Spy gets trapped between any of the above li

[2016-11-18 06:02] frfabianrp commented on #19
Shouldn't the Spy lose when moving into the space occupied by a Ninja? That's how the game handled that move before

[2016-11-18 06:02] Jester565 commented on #19
Oh dang!  That is one good test case!  I have an idea...  Do you want to
take this issue because I'd be happy to handle it?

On Thu, Nov 17, 2016 at 9:57 PM James T notifications@github.com wrote:

[2016-11-18 06:04] Jester565 commented on #19
Francisco see issue #15 and issue #17

[2016-11-18 06:05] jtara1 commented on #19
@frfabianrp

tl;dr professor said it's handled this way

---

@Jester565

you want to be assigned this issue? go for it

[2016-11-18 06:13] frfabianrp opened #20 "Ninjas can't occupy the space of an Item"
Currently a Ninja checks all 4 directions before making a move:

- It can't move out of the Grid bounds

- It can't move into a Room

- It can't move on the space occupied by an Item

I think last time we talked about it and a Ninja is supposed to be able to "step" on an Item. I'm sure @jtara1 @Jester565 solved this already haha but I wanted to try submitting a new issue.

[2016-11-18 06:25] jtara1 commented on #20
In #16 we discussed if ninjas could spawn on a `Useable`. I think ninjas should be able to move onto a `Useable` no problem. I'm going to make a comment on the specific line in your commit in a sec.

[2016-11-18 06:25] Jester565 commented on #20
There is an issue that both of you guys are going to have to work on.  I'm going to post it in a couple of minutes.

[2016-11-18 06:26] #20 closed, assigned to nobody

[2016-11-18 06:33] Jester565 opened #21 "Visiblity after an illegal move"
Try this...
1. Look up
2. Try to move out of bounds

...and now you can't see?
The visibililty was reset too early.  This was a major problem that I had to fix in this commit of DevAhead 9dc2bccbb8420d166e521e7a7d8d034b5964e056 after learning that moving after an illegal move would be allowed.
Look at GameEngine.playerMove() and notice that I actually call Grid.setToInvisible() inside of the metho

[2016-11-18 06:36] Jester565 commented on #21
And Francisco, the reason checkMove() exists is because of this issue.  In the commit where I fix this, I wrote:
"Grid.move(DIRECTION, int, int)'s behavior was split into two methods.
The first part is Grid.checkMoveStatus(DIRECTION direction, int x, int
y), which will no longer move the GameObject but will return the
moveStatus.  Grid.move(DIRECTION moveDirection, int x, int y) now
handles actual

[2016-11-18 06:58] jtara1 commented on #21
I'll work on having the visibility not reset when an `ILLEGAL` move is done.

[2016-11-18 07:05] Jester565 opened #22 "No access to gun after running out of ammo..."
If the player is out of ammo, they shouldn't even be able to access the shoot option in the UI.  I say this because it seems like the professor really wants us to hold the player's hand in the game (i.e. don't kill them if they walk into a Ninja).

[2016-11-18 07:13] jtara1 commented on #21
@Jester565

~~is this what you wanted?~~ 743db8dc3cd4f3fe36461890e77af8e902c727c2

edit: what did I do, now the Spy is not being drawn on the grid? I need to go through this again ...

edit2: reverted that commit because that was a really bad commit

[2016-11-18 07:50] jtara1 commented on #21
Really tired right now, I'll look at this in the morning.

[2016-11-18 10:51] Jester565 commented on #21
The problem: There's an array in Grid that is supposed to keep track of what elements in the Grid are visible called [visibleObjects](https://github.com/Jester565/SpyNinjaGame/blob/master/SpyGame/src/edu/cpp/cs/cs141/final_proj/Grid.java#L61).  The array is added to in the function [setAsVisible()](https://github.com/Jester565/SpyNinjaGame/blob/master/SpyGame/src/edu/cpp/cs/cs141/final_proj/Grid.j

[2016-11-18 19:43] #21 closed, assigned to jtara1, frfabianrp

[2016-11-18 19:45] jtara1 commented on #21
**TIL**: type "#21" in commit message creates link to this issue (#21), and typing "close #21" automatically closes it.

So I didn't mean to close this issue, but it should solve the problem.

[2016-11-19 05:35] #22 closed, assigned to jtara1

[2016-11-19 05:53] jtara1 opened #23 "GameEngine.reset() does not remove all of the gameObjects"
I've added a feature in testing that resets game and returns to main menu ca21807b6cb59a3262f2246988693e7f05244903

This way makes sense to me, but when I test the feature out there's at least twice as many `GameObject`s on the grid than I'd expect there to be.

To solve this I think the following would work:

* reset grid - this could be done in the `Grid` class or the `GameEngine` class
* insani

[2016-11-19 05:58] Jester565 commented on #23
Actually, the solution can be a lot easier than making a reset method in the Grid.  Just don't initialize anything in the GameEngine until the reset method is called.  I implement this here: 3df1fd49ce0fad206a270f3d69d606ed462505ab .  Should be an easy fix.

[2016-11-19 06:00] Jester565 commented on #19
I fixed it in this commit: d0065f23a0f3c5c7cf1a359fef12afbf78b4be35 .  However, I have not tested it yet.

[2016-11-19 06:00] #19 closed, assigned to Jester565

[2016-11-19 17:09] jtara1 commented on #15
Closing this issue with commit 27c3d4877bc6811d7ceeb0c4c9c24ad968de2102

[2016-11-19 17:26] jtara1 commented on #15
Just realized the ninja attacking hasn't been implemented yet.

[2016-11-20 08:41] jtara1 commented on #15
Closing with commit b6c341670946165c81daf01bd007e5fcbf7270c6, n1

[2016-11-20 08:41] #15 closed, assigned to frfabianrp

[2016-11-20 08:45] jtara1 commented on #14
When the `GAME_STATE.LOST` game state is reached (in `UserInterface.gameLoop()`) we enable `DebugMode` and print out the grid.

This allows the player to see where the `spy` and adjacent `ninja` were last (along with everything else).

Closing with commit 41fd5f876bc850bb0e6badf30e5dda5596ec40cb

[2016-11-20 08:45] #14 closed, assigned to frfabianrp

[2016-11-20 08:49] jtara1 commented on #23
Ran some tests by going to the "Main Menu" through in the game commands and starting a new game again.

Everything appears to be normal as expected from a `reset()` method.

Closing with commit ff2e21a95a0bc3f80957b956786e02302c3bba31

---

edit: forgot to move player then reset game through in-game menu

Hao caught this and fixed it in commits b9db8ae04450631fb3094b1e12922b275cb91cfc  3ac6bbb6483

[2016-11-20 08:49] #23 closed, assigned to frfabianrp

[2016-11-20 10:37] Jester565 opened #24 "Powerups not fully implemented"
@kjasonk
While the player has invincibility they can still die.  To fix this, you need to overload the takeDamage method in Spy.  Make sure that they cannot take damage when isInvincible() is true.  [Example](https://github.com/Jester565/SpyNinjaGame/blob/DevAhead/SpyGame/src/edu/cpp/cs/cs141/final_proj/Spy.java#L122-L132).  However, GameEngine is not supporting this implementation, I will fix it.

[2016-11-20 10:43] Jester565 commented on #24
@kjasonk
A very important method in implementing radar is the [Room::revealBriefCase() method](https://github.com/Jester565/SpyNinjaGame/blob/671306de822036081febb109a6bfc55a05dae385/SpyGame/src/edu/cpp/cs/cs141/final_proj/Room.java#L86-L89).  You should call this method when the Spy gets his radar.  To do this take a look at the [GameEngine::updateSpyPowerups() method](https://github.com/Jester56

[2016-11-20 10:50] Jester565 commented on #24
@kjasonk
The bullet powerup should not be consumed unless the ammo is actually picked up.  Therefore, you are going to have to change the [Useable interface](https://github.com/Jester565/SpyNinjaGame/blob/DevAhead/SpyGame/src/edu/cpp/cs/cs141/final_proj/Useable.java#L12) to return a boolean.  When the boolean is true, that means that the powerup should be consumed.  When it is false that means don

[2016-11-21 00:32] jtara1 commented on #24
I tested this out a few times. It seems to work as expected (mostly).

With Jason's commit bfbf8fe6480d725bcecca5ca6d40b263cee447d8 all consumables work almost perfectly.

What's expected when one of the `Useable` is acquired:
* [x] Bullet stays in game when spy has max ammo or is removed and applied when spy has less than max ammo
* [x] Radar immediately reveals the room with the briefcase
* [x]

[2016-11-21 00:51] jtara1 commented on #13
Closing with commit bfbf8fe6480d725bcecca5ca6d40b263cee447d8 though there's a few small changes to be done in issue #24

[2016-11-21 00:51] #13 closed, assigned to kjasonk

[2016-11-21 03:30] jtara1 commented on #24
Closing with commit af00bfb5052730c2c1f70f7be2f4035366f8a195

[2016-11-21 03:30] #24 closed, assigned to kjasonk

[2016-11-21 18:33] jtara1 commented on #11
It seems this issue could be closed as the shoot feature works as expected. Relevant commits: 68855c00a5effbf8e5a5eec6b62847a5e72ea37a 28bb4b3e53b5f14e381ad4eb0a7fb49555dd2563

Ninjas still don't die if they're shot so we could open a new issue to deal with that.

[2016-11-22 00:14] Jester565 opened #25 "Testing???!!!"
The life count, ninja attack, and win state system are not working...

[2016-11-22 00:37] jtara1 commented on #25
The life count works for me. Are you sure you `git pull` and `git checkout master` or maybe
`git checkout origin/master`?

**I'm pretty sure the only feature not implemented / not working is the death of a ninja who has been shot.**

edit: I tested the three things you mentioned, they work as expected when I play the game.

 Here's game prints from me winning the game

[code]

[2016-11-22 01:34] jtara1 commented on #25
@walkerzheng @frfabianrp @jrcastron @kjasonk
Could we get some more testers?

If you guys aren't too busy,

please play the game and test out at least a few features.

Alex says he'll work on bug fixing, but I'm not seeing the same bugs he is.

Here's a list of things you can test:

* [x] player look
* [x] player move
* [x] player step on bullet
* [x] player step on invincibility
* [x] player step

[2016-11-22 01:45] Jester565 commented on #25
Don't do anything with the repository with the issues I put here.  I already fixed them.  I'm going to put the issues I found here.

1. Enable debug mode and disabling it in the same turn gets rid of visible markers. (fixed)
2. A Ninja killed me one turn after I spawned in. That shouldn't be possible.

[2016-11-22 02:06] jtara1 commented on #25
I'm pretty sure each ninja does 3 things per turn and that might be the cause of this issue:
1. stab player if adjacent
2. move in random direction
3. ~~stab player if adjacent~~ (fixed)

[2016-11-22 02:06] Jester565 commented on #25
Yeah.  I saw that.  I'll get to it in a second.

[2016-11-22 02:09] YaysonKwok commented on #25
~~Life counter seems to work sometimes but not others. Here I went from 3 to 1 life after dying once.~~ (fixed)
[code]

[2016-11-22 02:11] Jester565 commented on #25
The largest issue is that the whole board shouldn't be reset after every time the player dies.  I'm going to go silent and fix this but please keep putting up issues if you can.

[2016-11-22 02:24] jtara1 commented on #25
Bug - ~**spy moves into range of ninja but doesn't die**~ (fixed)

latest commit 74ddf62b2a95e0d37f32852b48a500877a0be91a

Should be solved with my later commit and comment as stated here:

I think the problem was that the Sword attack(...) method was calling super.attack(...) for each of the four directions but only returning the boolean returned by the last call to super.attack(...) thus it was

[2016-11-22 02:37] Jester565 commented on #25
Ninjas aren't killing the player in rare cases.  I'll continue to investigate.

[2016-11-22 02:46] YaysonKwok commented on #25
Minor issue - ~~Stabbed is misspelled~~ (fixed)
[code]

[2016-11-22 02:51] YaysonKwok commented on #25
Bug - ~~Looked into room from north, saw a ninja?~~ (fixed)
Was testing the visibility, not sure if ninja was behind the room.

[code]

Retested - Occurs when there's a ninja in space behind the room.
[code]

[2016-11-22 02:56] jtara1 commented on #25
My commit in my branch 9e509b3232bdbf64f0d17b03df5ebe198679029f should allow ninjas to properly kill player now.

I think the problem was that the `Sword` `attack(...)` method was calling `super.attack(...)` for each of the four directions but only returning the boolean returned by the last call to `super.attack(...)` thus it was only attacking in one consistent direction regardless of what direct

[2016-11-22 03:19] Jester565 commented on #25
Good stuff James.  I implemented that in my commit but full credit to you.   I don't want to deal with merging right now so thanks for doing it in a separate branch.

[2016-11-22 03:20] Jester565 commented on #25
I think all that should be left is fixing the resetting of the Grid after the Spy dies but tell me if there are any more bugs.

[2016-11-22 03:45] Jester565 commented on #25
I'm going to add in the feature of seeing the Ninja that killed you.  If you guys find any more bugs let me know.  James, can you do that thing where you mark this version as a stable release?  The thing you did last Tuesday.

[2016-11-22 04:09] jtara1 commented on #25
I'd rather not add the `git tag` for `v0.2` until after we hand in the code to the professor.

Unless you really want me to do so prior to your next changes.

edit: or we could just have `v0.2` now and if we need extra patches after we turn it in we could have a `v0.21` after we turn it in for the version 0.2 release.

[2016-11-22 04:10] Jester565 commented on #25
Good point.  Yeah we'll wait then.

[2016-11-22 05:12] jrcastron commented on #25
The ninja didn't kill me...
[code]

[2016-11-22 05:15] Jester565 commented on #25
That Ninja isn't supposed to kill you...  He can only kill you from his initial position.  You can't step on the Ninja either, that is an illegal move.

[2016-11-22 05:19] jtara1 commented on #11
Closing this issue, I think we sorted it out with the frenzy of commits today (11/21/16).

[2016-11-22 05:19] #11 closed, assigned to jrcastron

[2016-11-22 05:20] Jester565 commented on #11
Amen

On Mon, Nov 21, 2016 at 9:19 PM James T notifications@github.com wrote:

[2016-11-22 05:31] jrcastron commented on #25
oh i thought they automatically killed u if u were standing next to them

[2016-11-22 05:32] Jester565 commented on #25
See issue #15

[2016-11-22 06:08] jrcastron commented on #25
<s>what is supposed to happen when you access the main menu in the middle of the game and choose exit? cause i think right now its just starting a new game.</s> (fixed)

[2016-11-22 06:11] Jester565 commented on #25
Hmm.. I'll take care of that.  Good catch!

edit: fixed with e6f7140409e9975c3b6443e9d953332d16e87ae7

[2016-11-22 21:13] jtara1 opened #27 "Ninja dies to collateral damage"
I know Alex fixed this in commit e1f60f3bf28e19bdde7c7ebdebb5d29680223c2d

but I just wanted to post the game prints since they'll probably be used in the project status report.

Expected behavior:
[code]

edit: sorry, forgot to mention the game prints above are expected behavior and not bugged behavior

[2016-11-22 21:17] jtara1 commented on #25
Closing this issue - I think we solved all the problems (for Milestone 2), we got everyone doing thorough testing and helping fix things.

Thanks.

[2016-11-22 21:17] #25 closed, assigned to Jester565

[2016-11-23 00:18] enochhz opened #28 "Bug when you can't move anywhere"
<img width="693" alt="screen shot 2016-11-22 at 4 17 17 pm" src="https://cloud.githubusercontent.com/assets/17519068/20547160/2c833bfc-b0cf-11e6-98b5-ed66a60a9222.png">

[2016-11-23 00:28] Jester565 commented on #28
So... it worked? I don't get it

On Tue, Nov 22, 2016, 4:21 PM walkerzheng notifications@github.com wrote:

[2016-11-23 00:51] jtara1 commented on #28
Maybe this was for our status report? The following grid print after the 'stand still command' would be nice to see.

[2016-11-23 00:57] enochhz commented on #28
yes, you can just shoot the ninja ahead you, and then the ninja beside just kill you, it works, but I haven't test for the situation when the player don't have bullet

[2016-11-23 02:52] enochhz opened #29 "game is not finished when you found the room has briefcase && Game grid is being printed more than once"
situation 1: when radar is enabled
<img width="585" alt="screen shot 2016-11-22 at 6 49 15 pm" src="https://cloud.githubusercontent.com/assets/17519068/20549810/838e7b72-b0e4-11e6-97a9-1b56c0cd5596.png">

Situation 2: when radar is disable

<img width="469" alt="screen shot 2016-11-22 at 6 47 33 pm" src="https://cloud.githubusercontent.com/assets/17519068/20549812/84a60d5e-b0e4-11e6-8b7f-48710a74d

[2016-11-23 04:01] enochhz opened #30 "IF you get radar when debug mode is disable, after pick radar, the room with bf won't show"
<img width="444" alt="screen shot 2016-11-22 at 7 56 31 pm" src="https://cloud.githubusercontent.com/assets/17519068/20550765/de173f26-b0ed-11e6-9237-36867c4d7f0a.png">
<img width="394" alt="screen shot 2016-11-22 at 7 57 01 pm" src="https://cloud.githubusercontent.com/assets/17519068/20550766/df40c17e-b0ed-11e6-830e-24d352231f86.png">

[2016-11-23 06:10] enochhz opened #31 "Spy don't die when he went to the place next to Ninja in Debug Disable mode"
<img width="438" alt="screen shot 2016-11-22 at 10 02 19 pm" src="https://cloud.githubusercontent.com/assets/17519068/20552434/bc28452e-b0ff-11e6-86db-5425439c5ac1.png">

Works fine when debug Mode is enable
<img width="456" alt="screen shot 2016-11-22 at 10 07 15 pm" src="https://cloud.githubusercontent.com/assets/17519068/20552461/15f3cb5a-b100-11e6-830f-fe7aa7a88cd3.png">

[2016-11-23 06:19] jtara1 commented on #28
@walkerzheng I think that's the expected behavior. Shoot ends the player turn and if there's another enemy nearby then the enemy would kill the spy.

---

I don't think this feature (stand still) is working at the moment.

[code]

**edit**: just noticed the value of `STAND_STILL_COMMAND` is `"S"` but when the UI takes in input it calls `toLowerCase()` on the input so `"S"` would be never be read.

[2016-11-23 17:00] #28 closed, assigned to nobody

[2016-11-23 17:13] enochhz opened #32 "game can't end when you are surround by ninjas in normal mode"
<img width="475" alt="screen shot 2016-11-23 at 9 09 24 am" src="https://cloud.githubusercontent.com/assets/17519068/20571601/fb0413d8-b15c-11e6-9ccc-1e5c30f5b666.png">
<img width="440" alt="screen shot 2016-11-23 at 9 09 40 am" src="https://cloud.githubusercontent.com/assets/17519068/20571606/fc30bdba-b15c-11e6-9e2e-a338799a0226.png">
<img width="438" alt="screen shot 2016-11-23 at 9 09 55 am" sr

[2016-11-23 17:16] enochhz commented on #32
it works fine in debug mode
<img width="509" alt="screen shot 2016-11-23 at 9 16 08 am" src="https://cloud.githubusercontent.com/assets/17519068/20571719/82e4cb9e-b15d-11e6-92f9-19e5b5909ff4.png">

[2016-11-23 17:45] #31 closed, assigned to nobody

[2016-11-23 18:02] jtara1 commented on #32
Commit 26639c472cdf2a0a5202c1a7fa765d6cd9ce6552 should fix this.

Here's my game prints showing it's working.

[code]

[2016-11-23 18:02] #32 closed, assigned to nobody

[2016-11-23 18:09] jtara1 commented on #30
This should be fixed. I either fixed it during my merged commits 11/22/16 or an early commit 11/23/16.

[code]

[2016-11-23 18:09] #30 closed, assigned to nobody

[2016-11-23 18:37] jtara1 commented on #29
This should be fixed along with my merged commits or commits early today (11/22/16 or 11/23/16).

edit: Just noticed that win grid is being printed twice. I'll fix in a minute.

Works when debug is disabled
[code]

works when debug is enabled
[code]

[2016-11-23 18:37] #29 closed, assigned to nobody

[2016-11-23 18:42] jtara1 opened #33 "The ninja remains visible if it attempts to stab spy while spy is invincible"
Is this behavior acceptable?

Should the ninja never be shown in this scenario?

[code]

[2016-11-23 18:45] Jester565 commented on #33
No that Ninja shouldn't be shown

On Wed, Nov 23, 2016 at 10:42 AM James T notifications@github.com wrote:

[2016-11-23 19:31] #33 closed, assigned to nobody

[2016-11-23 19:39] enochhz commented on #29
yes, it print out map three times after winning
<img width="397" alt="screen shot 2016-11-23 at 11 38 37 am" src="https://cloud.githubusercontent.com/assets/17519068/20576135/700b3fee-b171-11e6-831f-8fb014c583c0.png">

[2016-11-23 19:57] enochhz opened #34 "hard mode have HUGE bug when spy is stabbed,there are some ninjas don't move anymore"
# Situation 1: 2 ninjas around briefcase room don't move anymore

<img width="402" alt="screen shot 2016-11-23 at 11 50 56 am" src="https://cloud.githubusercontent.com/assets/17519068/20576587/573534c8-b173-11e6-9a70-2eec6af80b58.png">
<img width="415" alt="screen shot 2016-11-23 at 11 51 13 am" src="https://cloud.githubusercontent.com/assets/17519068/20576590/5847c70e-b173-11e6-85fb-c209d627ebb2.

[2016-11-23 19:58] enochhz opened #35 "After dubug mode is active, the player shouldn't look anymore"
# After dubug mode is active, the player shouldn't look anymore

<img width="417" alt="screen shot 2016-11-23 at 11 45 06 am" src="https://cloud.githubusercontent.com/assets/17519068/20576751/09b3cbe6-b174-11e6-8e4f-1812bdd8cf6f.png">

[2016-11-23 20:01] enochhz opened #36 "Game finish situation bug!"
# Situation 1: Game Over 3 times, and spy keep losing lives
<img width="396" alt="screen shot 2016-11-23 at 11 42 00 am" src="https://cloud.githubusercontent.com/assets/17519068/20576802/4bcdb85c-b174-11e6-940c-f6f854045ca6.png">

# Situation 2: Game Win three times

<img width="397" alt="screen shot 2016-11-23 at 11 38 37 am" src="https://cloud.githubusercontent.com/assets/17519068/20576827/6312c

[2016-11-23 20:02] enochhz commented on #34
Also AI mode is acting wired, ninja can only check four direction and move to the direction if there is a spy on the direction @jtara1

[2016-11-23 20:08] enochhz commented on #34
And I realize you replaced the AI method I push yesterday. There is the same situation happened in my AI design yesterday, and I fixed it, it is nonpointer problem in my stituation. @jtara1
Have you check my AI yesterday?

[2016-11-23 20:12] enochhz commented on #34
# Situation 2: ninja position: x:7 y: 3 don't move in hardmode

<img width="433" alt="screen shot 2016-11-23 at 11 44 05 am" src="https://cloud.githubusercontent.com/assets/17519068/20577182/02a6fb50-b176-11e6-92c1-b92ccbb14bf1.png">

[2016-11-23 20:18] enochhz commented on #34
# Situation 3: Exception
<img width="629" alt="screen shot 2016-11-23 at 12 17 28 pm" src="https://cloud.githubusercontent.com/assets/17519068/20577375/d306cbae-b176-11e6-805f-d24a23629f76.png">

[2016-11-23 20:20] jtara1 commented on #34
I believe the ninja stuck above the Room on the middle-right side was because I needed to set the `destinationCoordinate` of the ninja to null.

Commit 629f457a6d2afc9bb36266497191754b1c279638 should solve **situation 1** and **situation 2**

[2016-11-23 20:22] jtara1 commented on #34
As for **situation 3** please `git pull` to make sure you have the latest commits I've pushed.

More specifically check the Ninja class to see if that method is there that the java.lang.Error mentions.

[2016-11-23 20:27] enochhz commented on #34
# Situation 4: Spy don't lose lives in hard mode

<img width="456" alt="screen shot 2016-11-23 at 12 26 48 pm" src="https://cloud.githubusercontent.com/assets/17519068/20577654/31b3f2de-b178-11e6-9ba8-f9f1288fe994.png">

[2016-11-23 20:29] jtara1 commented on #36
What might be causing this is that I'm using recursive calls at certain points. I'll refactor the code to not do this while still preventing toggling debug or hard mode from ending the player turn.

[2016-11-23 20:30] enochhz commented on #34
????
I add a simple AI enemyLook() method in GameEngine yesterday, and every thing works fine, have you check those commits? @jtara1

[2016-11-23 20:47] jtara1 commented on #36
Commit 4cbf9dd370d49cb60648311faa2e8af8966b14f9 may solve this, not sure.

Does this consistently happen or only under certain conditons?

[2016-11-23 20:49] jtara1 commented on #34
Yea give me a minute, I'm going to create a new branch going back to your implementation of the ninja ai to compare the two implementations.

There may be a few different bugs at that point that I fixed today. I probably introduced some bugs myself with my changes too. I'm in the process of identifying and fixing though.

[2016-11-23 20:53] jtara1 commented on #34
Update: Here's the branch from yesterday before I merged and rewrote the ninja ai

https://github.com/Jester565/SpyNinjaGame/tree/hao-ninja-ai

[2016-11-23 21:18] jtara1 commented on #35
Closing with commit 285d4521252c41af63dfb19d326c6285da8b18fd

[code]

[code]

[2016-11-23 21:18] #35 closed, assigned to nobody

[2016-11-23 21:25] jtara1 commented on #34
**Situation 4 Spy doesn't lose lives in hard mode**

What are the steps to reproduce the issue?

I'm in hard & debug mode like you, but it works. Again, I probably fixed this in a recent commit today (11/23/16).

[code]

[2016-11-23 21:30] enochhz commented on #34
this should help you for figure out my AI designing
The only two thing i did for AI is:

1. f17d9160637a61025b6e1bbea4493ff5d99ed028
check If the game is hardmode: yes: enemy look all direction and move smart
                                                      no: move randomly(original code already have that)
2. 84485c89ba051bd6f4d4d158cc4785dad2525320
enemyLook() method: check if there is any

[2016-11-23 21:43] jtara1 commented on #34
Both of our AI's have

* an `enemyLook(...)` which does something similar
* feature that moves ninja towards spy if spotted otherwise moves spy in random direction

Your AI is more simple and works well.

From the looks of it your AI

* ninja sight (or look range) is as long as the grid
* only moves toward the spy if spotted the same turn

My AI is capable of

* the ninja sight (look range) and di

[2016-11-23 22:20] enochhz commented on #34
I copied all files until 82bb96b3761ff60820f1921629e1e89f5318cc7e and running on my own branch, and haven't found any bug yet for the hard mode, there is no bug as I commited in f17d9160637a61025b6e1bbea4493ff5d99ed028 for enemyMove() method as well.
the AI design i did is:  when it is the turn for enemy, the enemy look for spy for 4 directions, move to the direction which there is spy, if there i

[2016-11-24 03:07] jtara1 commented on #34
In my branch https://github.com/Jester565/SpyNinjaGame/commits/james-ninja-ai I've added a

feature and the AI will behave slightly differently for each difficulty.

| Difficulty | Dir. look | Sight Range | Behavior |
| --- | --- | --- | --- |
| easy | n/a | n/a | move randomly |
| medium | all 4 | 9 | move toward spy if spotted otherwise randomly (Hao's AI) |
| hard | all 4 | 2 | move toward spy

[2016-11-27 01:38] #36 closed, assigned to nobody

[2016-11-27 01:39] jtara1 commented on #34
Closing with merge #37

[2016-11-27 01:39] #34 closed, assigned to nobody

[2016-11-28 08:43] YaysonKwok commented on #27
I assume this issue was killing multiple ninjas with one bullet. Its back again.

[code]

[2016-11-28 08:53] Jester565 commented on #27
This is the desired behavior.  The professor wanted us to get sick collaterals .

[2016-11-28 08:53] #27 closed, assigned to nobody

[2016-11-29 21:31] Jester565 opened #38 "Gun needs to hold 2 bullets"
@jrcastron We need Gun's max ammo to be 2.

[2016-11-30 02:42] jrcastron commented on #38
done :3

[2016-11-30 04:02] jtara1 commented on #38
Quote from Professor's assignment sheet

This contradicts what he said in class today.

---

As for commit dbe7bdd8fe463565533047be37f5048f8e8cb620

Just changing `MAX_ROUNDS` to `2` also changed the initial amount of bullets the Spy has. Pretty sure Spy is supposed to start with 1 bullet.

[2016-11-30 04:04] Jester565 commented on #38
I'll email him asking.

On Tue, Nov 29, 2016 at 8:02 PM James T <notifications@github.com> wrote:

[2016-11-30 04:44] jrcastron commented on #38
ill wait to change anything else till he replys

[2016-11-30 20:19] YaysonKwok opened #39 "GUI Mode Issues"
@Jester565
1. Upon winning a new game and being sent back to the main menu, the player still has control and can move around opening doors or getting killed.

2. Full screen doesn't work for me. Windows 10 OS and 1920x1080 Resolution
Upon hitting 'f', this is what displays for me on the main menu.
![image](https://cloud.githubusercontent.com/assets/22648263/20769505/0763c638-b6f7-11e6-81ca-c5a12e2

[2016-11-30 21:26] Jester565 commented on #39
Are you running this on Windows 10?

[2016-11-30 21:46] Jester565 commented on #39
I couldn't replicate either of the issues.  I've attempted to fix them but I can't do anything except guess whats wrong without the computer.  Were the images back when you switched to window mode?

[2016-11-30 21:47] Jester565 commented on #39
From what I can tell, your computer is failing to load all images.  Are you getting any errors in the console?

[2016-11-30 22:13] YaysonKwok commented on #39
Console remains empty and returning back to windowed mode left the GUI the same

[2016-11-30 22:51] Jester565 commented on #39
By left the GUI the same.  You mean there were no images.

[2016-11-30 22:57] Jester565 commented on #39
Is anyone else having this problem?

[2016-11-30 23:18] Jester565 commented on #39
Attempted to fix the issue with commit 8ecf38fdcbf0f56f92e12da674911f5fd03238d6 .  Can you try running it again?

[2016-11-30 23:26] YaysonKwok commented on #39
Different issue now when fullscreening. Exception Error.
Testing out new game now.
Edit - New game. No movement on main menu works for me now

[code]

[2016-11-30 23:27] Jester565 commented on #39
Your computer seems to be having a hard time creating a buffer strategy...
I'll see what I can do

On Wed, Nov 30, 2016 at 3:26 PM kjasonk <notifications@github.com> wrote:

[2016-11-30 23:39] Jester565 commented on #39
Alright I made a second attempt.  See if this works.

[2016-11-30 23:41] YaysonKwok commented on #39
Works perfectly now in both main menu and in-game.

[2016-11-30 23:42] Jester565 commented on #39
Woah!  Can't believe that worked...  Thanks for reporting it.  Keep those bugs coming!  Also, the Mac should have a black background now.

[2016-12-01 00:07] jtara1 commented on #39
Running this on craptop with Windows 10:

I'm getting 60-70 fps in most cases, 30+ fps on death animation.

---

Minor bug:

While debug mode is enabled during death animation I could see the alien in the adjacent room in the cut scene with the alien killing the space explorer.

[2016-12-01 00:09] Jester565 commented on #39
Its not worth fixing the aliens showing in another room.  You're in Debug mode so your going to see things that aren't intended to be seen.

[2016-12-01 00:30] Jester565 commented on #39
@jtara1 Can you test the GUI on Ubuntu?

[2016-12-01 00:35] jtara1 opened #40 "GUI is not compatible with Ubuntu (Linux)"
OS: Ubuntu 16.04 64 bit

Problem:

When running the game in GUI mode, the GUI window only shows a black screen and this exception is thrown.
![image](https://cloud.githubusercontent.com/assets/7478231/20777277/cbc2008a-b71a-11e6-8460-8b587638dab6.png)

Steps to reproduce the problem:

Run the game in GUI mode (with `-g` as cli argument).

---

**Update & Summary**

Alex has fixed the following bug

[2016-12-01 00:36] Jester565 commented on #40
Did you pull?

[2016-12-01 00:37] jtara1 commented on #40
Yea here's the latest commits from git log:

[code]

[2016-12-01 00:39] Jester565 commented on #40
The error report is impossible.  I made a try catch block and the line reported by the console is off.

[2016-12-01 00:40] Jester565 commented on #40
Did you refresh?

[2016-12-01 00:41] jtara1 commented on #40
Oh forgot to refresh, thanks.

It starts up now. I'll try playing it.

[2016-12-01 00:42] Jester565 commented on #40
Check the console as you play.  I made it print out if the volume control failed.

[2016-12-01 00:45] jtara1 commented on #40
The console in eclipse isn't printing anything. I've moved around from rooms and killed an alien, and killed by an alien while entering a room / terminal.

I'm getting 8 fps on average.

quick pc specs

i5
gtx 970
1440p resolution

edit: brb

![image](https://cloud.githubusercontent.com/assets/7478231/20777551/9331b984-b71c-11e6-9481-c51a3a8be19c.png)

[2016-12-01 00:47] Jester565 commented on #40
Oh god that is terrible fps.  I don't know how to fix that...

[2016-12-01 00:52] Jester565 commented on #40
Pull, refresh, and try again

[2016-12-01 01:02] jtara1 commented on #40
Yup, that fixed it. I'm getting 70 to 120 FPS now.

edit: commit 84daa2d4609457b8dc837eb21d12301aa29e3735 saved my fps on Ubuntu

[2016-12-01 01:02] Jester565 commented on #40
All hail Stack Overflow

[2016-12-01 01:06] Jester565 commented on #39
GUI testing on Ubuntu is now being done in issue #40

[2016-12-01 01:06] #39 closed, assigned to Jester565

[2016-12-01 01:07] jtara1 commented on #40
(Minor) Different **Bug**:

Fullscreen doesn't behave as expeceted

Windowed (default) mode:
![image](https://cloud.githubusercontent.com/assets/7478231/20777924/3d4e4a7a-b71f-11e6-9825-28f877d2cc64.png)

Fullscreen (have to alt-tab out then select game window to resume playing):
![image](https://cloud.githubusercontent.com/assets/7478231/20777948/575c29be-b71f-11e6-9abd-3ed635b3c0e3.png)

[2016-12-01 01:07] Jester565 opened #41 "GUI Testing on Mac"
Full screen mode and background should be tested in OSX

[2016-12-01 01:12] Jester565 commented on #40
Ok I just made a commit to try to fix this.  I don't think it will fix the alt-tab but it should at least take up your entire screen.

[2016-12-01 01:20] jtara1 commented on #40
lmao it's still not completely fullscreen, but instead, it is stretched across both my monitors - it looks funky.

My monitors have different resolutions (1440p and 1080p). It seems to also be clipping the top a bit now.

![image](https://cloud.githubusercontent.com/assets/7478231/20778182/f86eda80-b720-11e6-8e82-8b52ed396779.png)

edit: this could be a lower priority issue

edit 2: commit 6f05ccb

[2016-12-01 01:22] Jester565 commented on #40
lol.  I don't think I can really fix this issue... It's not very important.

[2016-12-01 04:33] enochhz commented on #41
# Full screen mode works well, but the background is still white

<img width="1440" alt="screen shot 2016-11-30 at 8 29 30 pm" src="https://cloud.githubusercontent.com/assets/17519068/20781948/332888ea-b73c-11e6-9d39-2dd1052d764d.png">

[2016-12-01 04:44] Jester565 commented on #41
Well that is the opposite of what I expected.  I thought it would be black but fullscreen wouldn't work.  I made a commit that should fix it. Pull, refresh, and try again.

[2016-12-01 04:46] enochhz commented on #41
after pulling, the background is still white

[2016-12-01 04:47] Jester565 commented on #41
Did you refresh?

[2016-12-01 04:48] Jester565 commented on #41
If it's still white I'm never going to buy a mac.

[2016-12-01 04:48] enochhz commented on #41
yes, i refreshed

[2016-12-01 04:49] enochhz commented on #41
:(

[2016-12-01 04:50] Jester565 commented on #41
Wait my changes didn't commit for some reason.  Pull, refresh, and try again.

[2016-12-01 04:51] enochhz commented on #41
yeah,finally

<img width="1440" alt="screen shot 2016-11-30 at 8 51 13 pm" src="https://cloud.githubusercontent.com/assets/17519068/20782232/cc8b5a88-b73e-11e6-9ebb-0f98bb6b6d83.png">

[2016-12-01 04:52] Jester565 commented on #41
Alright, I guess I can still buy a mac.

[2016-12-01 04:52] #41 closed, assigned to enochhz

[2016-12-01 04:53] enochhz commented on #41
haha

[2016-12-01 05:21] Jester565 commented on #40
@jtara1 I added a small line of code.  It may have fixed this issue.  Could you try again.

[2016-12-01 05:28] jtara1 commented on #40
It looks the same as it does in this picture from before.

![pic](https://cloud.githubusercontent.com/assets/7478231/20777948/575c29be-b71f-11e6-9abd-3ed635b3c0e3.png)

My desktop environment is kde plasma if that helps.

[2016-12-01 05:29] Jester565 commented on #40
Yeah.  Its not gonna happen.  I think its most likely the desktop
environment you're using.

On Wed, Nov 30, 2016 at 9:28 PM James T <notifications@github.com> wrote:

[2016-12-01 05:30] jtara1 commented on #40
Alright

[2016-12-01 05:31] Jester565 commented on #40
I have a virtual machine.  I'll see if I can test in on there.  Its default Ubuntu but I only have 256 mb of vram.

[2016-12-01 05:34] jtara1 commented on #40
Again, this is a low priority issue. I need to work on something else tonight.

edit: You got it running on Ubuntu which is awesome.

[2016-12-01 05:35] Jester565 commented on #40
Yeah not much of a concern.  Thanks for fixing this issue, or at least the largest part of it!

[2016-12-01 06:09] Jester565 commented on #40
I've tested this on my computer (virtual machine) and have tried everything reasonable suggested by the internet.  In short, this isn't a problem with the code.  The method I need simply won't work.

[2016-12-01 06:13] #40 closed, assigned to nobody

[2016-12-01 20:13] jtara1 commented on #40
Update:

I tested the game out on **Fedora 24 64 bit** on my budget laptop

James's budget laptop specs:

* intel celeron n3050 (1.6 GHz, 2 cores)
* intel hd graphics
* 4 GB RAM
* 1366 x 768 resolution

getting around **20 to 30 fps** - playable

After some quick testing the game appears to work as expected.

The fullscreen feature does not behave as expected though.

This is what I see when I ful

[2016-12-01 20:28] Jester565 commented on #40
Wow.  I'm surprised that worked.  I'm going to update the repository to disable full screen mode in Linux.

[2016-12-01 21:26] Jester565 commented on #40
@jtara1 Commit eb540343f6a2635e6d3b5d0e59a7b247cdd4ae6a should disable full screen and display a "OS does not support full screen" message.  Could you give it a try?

[2016-12-01 21:31] jtara1 commented on #40
On Fedora 24, it looks the same, but the game screen is just black. I'll try this out on Ubuntu when I get home around 3:30 PM.

Unexpected behavior when fullscreen is enabled:
![screenshot from 2016-12-01 13-29-21](https://cloud.githubusercontent.com/assets/7478231/20813380/45dd3376-b7ca-11e6-85c9-9f5cd27ea991.png)

[2016-12-01 21:32] Jester565 commented on #40
You refreshed and the behavior got worse?

[2016-12-01 21:33] jtara1 commented on #40
I keep forgetting to refresh sorry.

It works perfectly.

[2016-12-01 21:35] Jester565 commented on #40
Cool stuff.  I think we can safely say that Ubuntu (not tested but it should work the same) and Fedora are fully compatible now.  Unless it crashes or something weird.

[2016-12-01 22:25] Jester565 opened #42 "Instructions will be added"
This is a warning... Wait to test the GUI for a bit.  I am improving the instructions for the game.  Since our project is going to be used as an example for next quarter (which is freaking awesome), I'm going to add descriptions for objects and stuff.

[2016-12-01 22:37] jtara1 commented on #42
Used for the next quarter? Probably used for eternity. It'd take some madmen to out-due this within 3 weeks especially coming from a CS141 class. Btw we should try publishing this on steam.

[2016-12-01 22:38] Jester565 commented on #42
Your right I'm gonna go green light this.

[2016-12-02 05:36] Jester565 commented on #38
I never got a response but we won't get marked down for following the instructions on Blackboard

[2016-12-02 05:36] #38 closed, assigned to jrcastron

[2016-12-02 06:29] #42 closed, assigned to nobody